{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Keystore app</title>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="{% static "js/libs/jquery.js" %}"></script>
    <script src="{% static "js/list.js" %}"></script>
</head>
<body>
    <header class="main">
    	<h1>KeyStore</h1>
    	<nav>
    		{% if user.is_authenticated %}
    		<a href="/logout"><i class="icon-minus-sign"></i> Logout</a>
    		{% else %}
    		<a href="{% url "socialauth_begin" "github" %}"><i class="icon-github"></i> Login</a>
    		<a href="{% url "socialauth_begin" "facebook" %}"><i class="icon-facebook"></i> Login</a>
    		{% endif %}
    	</nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>Work in progress</p>
    </footer>
</body>
</html>