{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Keystore app</title>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="{% static "js/libs/jquery.js" %}"></script>
    <script src="{% static "js/list.js" %}"></script>
</head>
<body>
    <header class="main">
    	<a href="/"><h1>KeyStore</h1></a>
    	<nav>
    		{% if user.is_authenticated %}
    		<a href="/logout"><i class="icon-minus-sign"></i><span>Logout</span></a>
            <a href="/list"><i class="icon-list"></i><span>List</span></a>
            <span class="welcome">Hello, {{ name }}</span>
    		{% else %}
    		<a href="{% url "socialauth_begin" "github" %}"><i class="icon-github"></i><span>Login</span></a>
    		<a href="{% url "socialauth_begin" "facebook" %}"><i class="icon-facebook"></i><span>Login</span></a>
    		{% endif %}
    	</nav>
    </header>

    {% block content %}{% endblock %}

    <footer>

    </footer>
</body>
</html>