{%  extends "interface/base.html" %}

{% block content %}
    <table class="keypair_list">
        <thead>
            <tr>
                <th class="name">Name</th>
                <th class="value">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for keypair in keypairs %}
            <tr class="keypair" data-kpid="{{ keypair.pk }}">
                <td class="name">{{ keypair.key_name }}</td>
                <td class="value">{{ keypair.key_value }}</td>
            </tr>
            {% endfor %}
            <tr class="keypair new">
                <td class="name">New Row</td>
                <td class="value"></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
